<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm-8 col-md-10">
      <div class="navbar-part mt-5">
        <span></span>
        <span></span>
      </div>
      <div class="main-section mt-5">
        <div class="row">
          <div class="col-sm-8">
            <i class="fas fa-map-marker-alt mb-4"></i>
            <span>Amsterdam, NL</span>
            <h1>
              <span id="banner-typed-text"></span>
            </h1>
            <p class="short-info">Full Stack Junior Developer located in Amsterdam, NL.</p>
            <a target="_blank" href="https://www.linkedin.com/in/onur-karadeniz-psm-i-87810233/">LinkedIn</a>
            <i class="fab fa-linkedin"></i>
            <a target="_blank" href="https://github.com/onurkaradeniz1">GitHub</a>
            <i class="fab fa-github mb-3"></i>
            <h3 class="mt-4">About Me</h3>
            <p class="mb-4">My name is Onur Karadeniz and I am located in Amsterdam, NL. I have moved here and started Le Wagon Coding Bootcamp in Oct. 2021. I currently work at NMQ Digital but always eager to learn something new! Please reach out to me below from the contact info below.</p>
            <h3 class="mt-5 mb-2">Tech Knowledge</h3>
            <div class="images">
              <%= image_tag "html-5.png", width: 110, height: 110, class: "mt-4 img-tech" %>
              <%= image_tag "css-3.png", width: 110, height: 110, class: "mt-4 img-tech" %>
              <%= image_tag "js.png", width: 110, height: 110, class: "mt-4 img-tech" %>
              <%= image_tag "ruby_new.png", width: 110, height: 110, class: "mt-4 img-tech" %>
              <%= image_tag "github.png", width: 110, height: 110, class: "mt-4 img-tech" %>
            </div>

              <h3 class="mt-5 mb-2">Contact me</h3>
              <form action="https://formcarry.com/s/wnHunL6STDg" method="POST" accept-charset="UTF-8" >
                <div class="form-group inp"><input class="form-control" type="text" name="name" placeholder="Name"></div>
                <div class="form-group inp"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                <div class="form-group inp">
                  <textarea class="form-control" name="message" placeholder="Message" rows="5"></textarea>
                </div>
                <div class="form-group mb-5 sbt-btn"><button class="btn btn-outline-primary w-100" type="submit">Submit</button></div>
                <input type="hidden" name="_gotcha">
              </form>

          </div>
          <div class="col-sm-4">
            <%= image_tag "onur.jpg", width: 375, height: 375, class: "onur-img" %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
